[2019-11-04 01:31] markst commented on #253
[code]

[2019-11-04 09:00] huri000 commented on #253
Hi @markst, thanks for providing the example. A fix is available on `1.2.3` 🎉

[2019-11-04 09:00] #253 closed

[2019-11-05 11:04] Banck opened #255 "SwiftEntryKit crashs sometimes"
**Describe the bug**
In app where we use SwiftEntryKit fabric shows that SwiftEntryKit crashed sometimes(not often). We can't reproduce this crash, but maybe you will somehow. Here is a screenshots from fabric
![image](https://user-images.githubusercontent.com/6259254/68202334-1c19c780-fff6-11e9-8587-bc41d70d2469.png)

**iPhone (please complete the following information):**
![image](https://user-i

[2019-11-05 11:24] huri000 commented on #255
Hi, could you provide more info?
iOS and device statistics are typically provided in the Firebase console.
Does the crash happen on background/foreground mode (also provided on Firebase)
Also, could you please update to `1.2.3`? possibly related to #253.

Could you also send the raw text? (button on the top-right)
+ Any other info you can think about of and able to provide

[2019-11-05 11:31] Banck commented on #255
Screenshot of iOS versions i posted in first message.
Device States here:
![image](https://user-images.githubusercontent.com/6259254/68204059-c3e4c480-fff9-11e9-8419-6a808dc82c62.png)
Raw text:
[code]

I'm presenting Entry with ViewController. ViewController contains UIScrollView. And there is one strange behavior: on my iPhone X (iOS 13.2, and previously on 12.x) it freezing when scroll without d

[2019-11-05 11:40] huri000 commented on #255
I'll try to repro, but in the meantime, would be good to use `1.2.3` instead.

[2019-11-05 12:23] huri000 commented on #255
When present this ViewController without SwiftEntryKit (just normally present) - all is fine.

@Banck could you upload a small project that demonstrates that? I may be able to look into it today.

[2019-11-05 16:32] pierre-wehbe opened #256 "Have EKSimpleMessageView and others be open class for custom inheritance"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

I am trying to have the thumbImageView of the EKSimpleMessageView be centered within its container, but it seems hardcoded on 16

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I would like to have control over the positionin

[2019-11-06 06:44] markst opened #258 "Identify when a user has dismissed popup vs. programatically"
So we can identify when a user has dismissed a popup rather than programatically.

[2019-11-06 10:46] Banck commented on #255
@huri000 I can't reproduce this behavior outside this project.
But, i've noticed, that these 2 lines (apart and together) affect performance in this entry (with other entries all is fine with the same attributes):
[code]
Issue with performance reproduced only on iPhone X (13.2). Don't know why

Crashes can't reproduce.

P.S. Updated to 1.2.3

[2019-11-06 12:29] Banck commented on #255
Strange...but now it doesn't help. Nevermind

[2019-11-15 11:01] purkylin commented on #227
same

[2019-11-21 04:34] jacobokoenig opened #259 "Crash with no error when assigning entryBackground"
**Describe the bug**
When assigning an entry background, the app crashes with no explanation.

**To Reproduce**
Create a set of attributes and assign color white:
var attributes                          = EKAttributes()
attributes.entryBackground              = .color(color: EKColor.white)

**iPhone (please complete the following information):**
 - Device: iPhone 11 Pro
 - iOS Version: iOS 13.1
 -

[2019-11-21 08:36] huri000 commented on #259
Hi, this shouldn't happen. I suspect it's a cached pod issue. Could you please try to:
- Update cocoapods (`sudo gem install cocoapods`)
- Delete derived data dir content.
- Clean project/build.
- `pod cache clean --all`
- `pod deintegrate`
- `pod install`

does the example project reproduce it as well?

[2019-11-21 18:47] jacobokoenig commented on #259
Thank you. It was solved that way. I still have an issue, but will open on a separate thread.

[2019-11-21 18:54] jacobokoenig opened #260 "Modal not forwarding touches?"
**Describe the bug**
Touches not being forwarded into inferior Screen

**To Reproduce**
Steps to reproduce the behavior:
1. Created a modal that welcomes the user to a set of steps to take
2. Without dismissing, shows another modal with the forward attribute for screen interaction
2.1 If I dismiss, and show the modal on the callback, modal is not shown

**Expected behavior**
Taps in the screen sho

[2019-11-21 22:55] #259 closed

[2019-11-25 03:18] linshizai opened #261 "How to display entry in specified uiviewcontroller, instead of a new window?"

[2019-11-27 06:38] talshr opened #262 "Can't compile"
**Describe the bug**
I'm getting "Module compiled with Swift 5.1 cannot be imported by the Swift 5.1.2 compiler" when compiling.

**To Reproduce**
Steps to reproduce the behavior:
Open on Xcode 11.2.1 and compile

[2019-11-27 08:28] huri000 commented on #261
This behavior is not currently supported. Why wouldn't you use a standard modal presentation for that?
i.e `present(_, animated:_, completion:_)`.

[2019-11-27 08:49] #261 closed

[2019-11-27 09:10] huri000 commented on #262
That may happen between Xcode updates. I will be able to check that in a few hours.
In the meantime, could you please try cleaning the pods and build directory (e.i derived data) and then rebuild?

[2019-11-27 15:53] talshr commented on #262
Deleting derived data solved it!

[2019-11-27 15:53] #262 closed

[2019-11-28 08:35] semionenko opened #263 "Can I split the buttons into two columns?"
If there are a large number of button objects, they are arranged vertically and are small in size. Is it possible to divide the buttons into several vertical columns? Thanks.

[2019-12-10 09:45] mapalagama93 commented on #260
I think
`self.entryInteraction             = .absorbTouches`
should be
self.entryInteraction             = .forward

[2019-12-12 01:33] omarojo opened #264 "attributes.roundCorners Not working"
For some reason my custom view controller doesnt have rounded corners.
`attributes.roundCorners = .all(radius: 25)`
is doing nothing.

I saw in your demos in file `NibExampleView` you set `clipsToBounds=true` and additionally `layer.cornerRadius = 5`

I tried doing that in the `viewdidload` method of my view controller. but still nothing.
fyi. my custom view controller is using a nib file.

[code]

[2019-12-12 02:19] omarojo commented on #240
So there is no way to specify which direction you wanna allow to dismiss ?
regardless of which `.position` property you set ?

ex.
`var attributes: EKAttributes = .topFloat`

but allow the user to dismiss either swiping up or swiping down. (both)

[2019-12-12 09:43] huri000 commented on #240
Nope. Not at the moment.

[2019-12-16 00:22] idevChandra6 opened #265 "Value of type 'EKAttributes' has no member 'windowLevel'"
**Describe the bug**
After pod update, `attributes.windowLevel` is not recognized. But *Jump to definition* is showing it as public var. Tried with Swift 5.0 and 4.2. Suddenly stopped compiling.

Errors:
1. `Cannot convert value of type 'UIColor' to expected argument type 'EKColor'`. Could solve this with `EKColor()`
2. `attributes.windowLevel = .normal` : shows error `Type 'Any' has no member 'no

[2019-12-23 11:43] andestaerfan opened #267 "Display a SwiftEntry below or above a UIView"
I want to show a SwiftEntry behind or below a custom view that I have on my application. Is it possible ?

[2020-01-02 00:14] black-magk opened #268 "How to round corners on popup UIButton"
Is there a way to change the corner radius of the UIButton on the Popup Message?

[2020-01-10 00:33] idevChandra6 opened #269 "Displaying Popup Alert with attributes is crashing"
**Describe the bug**
Displaying Popup Alert with attributes is crashing on iPhone X and iPhone 11 Pro

**To Reproduce**
Steps to reproduce the behavior:
Please have this below code in viewDidAppear(_:) and see if it crashes.
All the values that are assigned are no-nils.
[code]
**Expected behavior**
The code crashes at last line.

**Screenshots**
<Not Applicable>

**iPhone (please complete the foll

[2020-01-10 09:06] huri000 commented on #269
I couldn't repro this. I suspect it's a cached pod issue. Could you please try [this](https://github.com/huri000/SwiftEntryKit/issues/259#issuecomment-556977529).
![Simulator Screen Shot - iPhone 11 Pro Max - 2020-01-10 at 09 03 18](https://user-images.githubusercontent.com/5504255/72140321-6ddd2600-3388-11ea-94dd-7ed9e5300047.png)

[2020-01-12 23:31] idevChandra6 commented on #269
Hi Huri, I tried as you said above.
It did not solve.

I observed this. Please check.

[code]

I am setting  `displayDuration` as `4.0`. But it is set to 2.0 when I inspect. Please see the below variable inspect information - SwiftEntryKit.EKAttributes.DisplayDuration.

[code]

[2020-01-12 23:51] huri000 commented on #269
I just tried now; Couldn't reproduce. The entry displays for 4 seconds as assigned to `displayDuration`. No crash occurred. I do believe that if it had normally crashed, it would have happened to quite a lot of devs who use this library.
Lemme ask you this. Have you tried looking at the samples inside the example project? are they working for you?

Please make sure you run through these steps agai

[2020-01-12 23:55] huri000 commented on #255
@Banck No other developers have been reported this crash. Does it still occur?

[2020-01-14 06:02] idevChandra6 commented on #269
Changing my project code to Swift 5.0 solved the problem. It took time though. Worth the effort.
This also made the crash stopped for
`var attributes = EKAttributes()`

Thanks much for great library Huri.

[2020-01-14 06:03] idevChandra6 commented on #265
Changing the project code to Swift 5.0 solved the problem.
Please close the issue.

[2020-01-14 06:03] #265 closed

[2020-01-15 08:57] mixable commented on #206
Same behaviour here. Are there any updates on this?

[2020-01-16 04:35] #269 closed

[2020-01-19 02:41] hydyy opened #270 "when displayed controller contains Alert, can't coexist"
custom alert use SwiftEntryKit, when display viewcontroller contain's alert, can't work...

[2020-01-22 19:48] carles-estevadeordal commented on #245
@fanglinwei Your code is interesting, but I tried it and it breaks the display. For example: when a second simultaneous alert view is dismissed then Entries are not displayed anymore. Have you done any more progress towards this? I would love this feature.

[2020-01-25 09:59] ngo275 commented on #142
Had the same issue and solved it by modifying the `attributes` property.

[code]

[2020-01-28 02:09] pcentieiro commented on #240
Hello!

I'm looking forward to set the swipe direction. Any idea if it will be possible in the future, or how we can set it up, if we want it to?

Thanks and great job btw!

[2020-01-29 18:33] AndyIbanez opened #271 "SwiftEntryKit Not Displaying Anything."
Hi. I'm having this problem in which I'm trying to display somethig with SwiftEntryKit and nothing is being displayed. On top of it all the `SwiftEntryKit.isCurrentlyDisplaying` property is false immediately after calling `display`. Anyone know what's wrong?

My code looks like this:

[code]

The if-let is reached, and within it I try to display something with `SwiftEntryKit`, and immediately afte

[2020-02-04 07:48] tiaramhdk8925 opened #272 "PopUp won't show in iPone X series"
hi, i found a problem using this library. this library works really well on iPhone 7, but when i try to run my app on iPhone X series the pop up won't show up  like nothing happened but i can't click other button like freezing.

i tried to debug it on X series, when i try to call SwiftEntryKit.display(entry: popUpView, using: AttributedDialog.myAttribute()) the display func stopped at line 206
ent

[2020-02-04 08:18] huri000 commented on #272
Hi @tiaramhdk8925,
Could you upload a small project with which the problem can be reproduced?
I’d try to repro later today myself.

[2020-02-05 09:59] tiaramhdk8925 commented on #272
Hi @huri000 i was trying to make the small project you requested, but it ended up can't represent the reproduction of the bug idk if it's because it's just "small project". is it about to memory usage thing?

btw i tried to debug it once again my app, and it actually stopped at
animateIn()  when initialize `let animation = attributes.entranceAnimation` [EKContentView line 381]
and it's all happeni

[2020-02-06 03:49] tiaramhdk8925 commented on #272
hi @huri000 i think this problem is related to https://github.com/huri000/SwiftEntryKit/issues/255

when i read the issue it happened exactly like the issue 255 described. but finally for now my team can figure it out by clearing some codes and fixing the program flow in our app. i assumed that this is memory issue.

hopefully anyone could figure out how to fix this besides clearing some codes.

t

[2020-02-07 09:41] texyz opened #273 "I don't know how to use this library programmatically"
Please i know this may sound odd but I don't know how to implement this library programmatically,
Please can any one help out with examples please

[2020-02-11 11:35] sashakid commented on #270
And what do you expect? It's not clear

[2020-02-13 07:35] sashakid commented on #258
What is the issue?

[2020-02-16 15:34] nungnung commented on #235
Could you explain more, please? Where could I add textContent property in the following function?

[code]

[2020-02-16 15:56] nungnung opened #274 "Image Input in EKFormMessageView?"
Could I input Image, like from photo albums, in EKFormMessageView?
There is ImageContent property in EKProperty, but I want to display original photo, not thumb.
Also, I am hardly understand how to use ImageContent, too.
How could I input image in showSignupForm?

I add some propery and function in EKFormMessageView like this, but does not work..help

[code]

[code]

[2020-02-20 23:13] Claeysson opened #275 "TopToast on modal with statusbar doesn't position correctly"
**Describe the bug**
TopToasts doesn't position correctly when modal and presenting view controller doesn't both have a visible status bar. In my app, the main view controller is set to hide the status bar. The main view then triggers a modal with a visual status bar which contains a couple of TopToast. The TopToast is however not displayed over the status bar. If I set the main view controllers s

[2020-02-23 12:20] #274 closed

[2020-02-25 10:34] hydyy commented on #270
they can coexist?

[2020-03-08 05:01] hungMta commented on #227
Did you resolve?

[2020-03-09 01:50] bevbomb opened #276 "Keyboard adjustment should be ignored if the virtual keyboard isn't displayed"
**Describe the bug**
When binding to a keyboard I have noticed that when the keyboard is active the bottom offset is adjusted even if the virtual keyboard isn't visible i.e when using a smart keyboard. This makes the view stick to the bottom of the screen whenever a field is active.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a view with a basic text field
2. Present it with Swift

[2020-03-20 11:36] vkhadyka commented on #271
Have the same issue, although I pass view instead of view controller nothing displays.
How can I figure out it?

[2020-03-24 11:05] vvlee opened #277 "EKContentView.panGestureRecognized(gr:) crash"
**Describe the bug**
get crash from firebase:

Fatal Exception: NSInternalInconsistencyException
NSLayoutConstraint constant is not finite! That's illegal. constant:nan firstAnchor:<NSLayoutYAxisAnchor:0x283e76380 "SwiftEntryKit.EKContentView:0x104309e60.top"> secondAnchor:<NSLayoutYAxisAnchor:0x283e4ea00 "SwiftEntryKit.EKWrapperView:0x1043236b0.top">

Use SnapKit layout custom view.

**iPhone:**

[2020-03-27 02:56] zjohnzheng commented on #183
Hey, just a comment, I've been able to do this using delegates and protocols.

[2020-03-27 03:09] zjohnzheng opened #278 "Edit Menu appears behind Swift Entry Kit when selecting text"
So when I select text (in a WKWebView, but I've also seen this happen with normal UITextViews), the Edit Menu popup appears behind the View Controller that I've presented with Swift Entry Kit.

**To Reproduce**
Steps to reproduce the behavior:
1. Present custom view controller
2. Select text in UITextView/WKWebView
3. See error

Here's a screenshot:
<img src="https://user-images.githubusercontent.

[2020-03-31 06:49] willMorph commented on #54
Hey there, It still seems to be showing for me, I cloned the file as listed in the installation guide, opened the workspace and tried running, and still seems to be giving me the same error.

[2020-04-03 10:20] sm0nster opened #279 "Custom Popup doesn't fit"
**Describe the bug**
So the desired output is a popup that's exactly 80% screen size width and maximum 60% screen size height but if content is shorter then it should fit to content (in other words: it should be exactly content size but not exceed 60% of the screen)

**To Reproduce**
Steps to reproduce the behavior:
I'm trying to present custom view that's having scrollview and inside there's uiVi

[2020-04-06 13:11] ngocluan1192 commented on #271
I have the same issue

[2020-04-08 01:17] rajuashok commented on #264
Did you figure this out? I'm running into the same issue.

.border
.roundCorners

are both not working for me.

[2020-04-08 12:33] KyleGoslan opened #280 "Nothing being displayed"
Nothing is displayed, am I missing something?

[code]

There isn't even an indiction that anything has been added to the view hierarchy in the debugger.

[2020-04-08 13:28] huri000 commented on #280
Have you taken a look at the example project. Are the samples there working for you?
There can be multiple causes (constraints / wrong attributes), but it’s hard to know from this snippet.

[2020-04-08 16:08] KyleGoslan commented on #280
Should this project compile without any further steps?
git clone --recurse-submodules https://github.com/huri000/SwiftEntryKit.git

I'm getting No such module 'QuickLayout'

[2020-04-13 11:59] app-web-dev opened #281 "Dismiss specific entry not working"
**Describe the bug**
I have a View Controller which shows two entry at sam time some times, I would like to dismiss one and keep the other one, when I use SwiftEntryKit.dismiss(.prioritizedLowerOrEqualTo(priority: .normal)) or SwiftEntryKit.dismiss(.specific(entryName: "p")) it still dismiss both entries.

**To Reproduce**
Steps to reproduce the behavior:
N/A

**Expected behavior**
Dismiss only on

[2020-04-15 18:56] spyrosskordos opened #282 "is It possible to toast exactly below navigation bar?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-16 02:36] zjohnzheng commented on #280
Is your view controller made in the storyboard?
If so, you might need to set a storyboard identifier and do this:
[code]
Also, you could also try
`attributes.positionConstraints.size.height = .constant(value: UIScreen.main.bounds.size.height - CGFloat(100))` or something like that to make sure the constraints are right as @huri000 said.

[2020-04-29 21:23] KyleGoslan commented on #264
Ran into the same issue.

Confirmed that adding the following seems necessary:
`clipsToBounds = true
    layer.cornerRadius = 16`

Any note on what's causing `attributes.roundCorners` not to work?

[2020-05-07 19:32] rebeloper commented on #270
What @hydyy  means is that by default UIAlertControllers are presented above the entry. If the entry is taller than half the screen height the alert is covered by it. The alert also unresponsive to touches.

Solution:

1. `attributes.entryInteraction = .delayExit(by: TimeInterval(Int.max))` to allow touches on UIAlertController
2. `SwiftEntryKit.display(entry: viewControllerToPresent, using: attri

[2020-05-08 08:06] akshitzaveri commented on #280
@KyleGoslan I was getting the same error but then I did `pod install`.

[2020-05-08 08:27] akshitzaveri commented on #264
I have got the same issue. As @KyleGoslan mentioned, we have to set cornerRadius twice, one with the `attributes.roundCorners` and with the UIView of the view controller.

[2020-05-08 21:38] ibyteapps opened #283 "Use of unresolved identifier 'FormFieldPresetFactory'"
Sorry to be a pain, but I'm stuck somewhere and looking for guidance.

I've been using SwiftEntryKit for a while and I've managed to implement a lot of features. But I cannot compile the showSignupForm() function.

I'm using version 1.2.3 on xcode 11.4.1.

In other instances, EKColor throws an error and I have to use my own colours.

Perhaps I've not implemented your project properly?

I've added

[2020-05-08 22:41] andrewpluu opened #284 "The keyboard relation does not work the first time when becomeFirstResponder is used in attributes.lifecycleEvents.didAppear"
**Describe the bug**
I have used the following code
[code]
to ensure the entry moves properly when the keyboard is moved, and it works.

However, I am also using
[code]
to pop up the keyboard immediately upon the view appearing.

Unfortunately the entry does not move upon initial load, and the keyboard covers the textfield. If I close the keyboard and reopen it even without dismissing the entry, t

[2020-05-08 22:45] andrewpluu commented on #206
Same behaviour on my end.

[2020-05-09 09:29] ibyteapps commented on #283
I've been able to resolve this by creating a new project. It seems the files were not integrating properly in my original project. Thanks for such a lovely pod.

[2020-05-10 15:11] fedorpashin opened #285 "Typo in the attribute description"
Here is the typo in the word 'mode':
https://github.com/huri000/SwiftEntryKit/blob/9a743cf5d433fee3056f8b0952f5f34e66a508e3/Source/Model/EKColor.swift#L101

[2020-05-11 06:48] superk589 commented on #248
Same issue here, but a custom UITextField inside the entry.

[2020-05-11 09:47] superk589 commented on #248
After some research, I confirm that the issue is caused by another framework, called CocoaDebug, which uses some swizzling methods that cause memory leaking.
EKWindow can't be released after dismissing and has a higher level than the main window.

[2020-05-14 06:16] archerx3 opened #287 "Rotate float top view issue under iPhone X, and so on."
**Describe the bug**
[A similar question<iPhone x issue>](https://github.com/huri000/SwiftEntryKit/issues/13)

**To Reproduce**
1. Code as following:
[code]

 2. *Add the code* `attributes.positionConstraints.safeArea = .overridden`

 3. *And active the auto rotate* `attributes.positionConstraints.rotation.isEnabled = true`

 4. When show float view, rotate screen. *The view will overlay with devi

[2020-05-16 13:12] hiteshsondhi88 commented on #271
Same here, tried the demo and it isn't working as well

[2020-05-16 13:30] huri000 commented on #280
Please retry again w/ one of the samples provided in the example project. It most like has something to do with missing or undefined constraints.
If it is a custom view from Nib, take a look at `NibExampleView`, otherwise please see how other presets are built.

Also, in case you want to enforce constant sizing on `LoginViewController`, `EKAttributes` has a  `PositionConstraints` construct that sh

[2020-05-16 13:30] #280 closed

[2020-05-16 13:32] hiteshsondhi88 commented on #271
Okay, guys found the issue. Try this fork -> https://github.com/zhocker/SwiftEntryKit it works fine

[2020-05-16 13:42] huri000 commented on #271
@hiteshsondhi88 not sure what you refer to as _the issue_, as the example project works as intended. You may just need to clear your cache and reinstall the library.

Try the following for CocoaPods dependency:
- Update cocoapods (`sudo gem install cocoapods`)
- Delete derived data's dir content.
- Clean project/build.
- `pod cache clean --all`
- `pod deintegrate`
- `pod install`
- Run the example

[2020-05-16 13:45] hiteshsondhi88 commented on #271
@huri000 try on dark mode

[2020-05-16 13:47] hiteshsondhi88 commented on #271
@huri000 Check this commit https://github.com/zhocker/SwiftEntryKit/commit/34244f5ad102faa0075218c35c4c253d444b9f6b

[2020-05-16 13:50] huri000 commented on #248
@superk589 that makes sense. another library tinkering w/ the window hierarchy may indeed cause that side effect as `SwiftEntryKit` assumes control over it when it displays its content.

Important to mention that you can inject another window to go back to when the entry is dismissed. Please also see the API docs.
<img width="485" alt="Screenshot 2020-05-16 at 14 49 46" src="https://user-images.gi

[2020-05-16 14:00] huri000 commented on #282
Not at the moment. The library operates outside the main window and therefore agnostic to its content. As a workaround, you may be able to convert the point from the view controller's coordinate system into the main window and use this offset for your view.

[2020-05-16 14:16] huri000 commented on #270
@hydyy not quite sure what you meant by `custom alert`, but in case @rebeloper guessed it right and you referred to a native `UIAlertController` coexistence w/ a swift entry kit once, you could either do what @rebeloper suggested, or you could display the native alert controller directly from a displayed view controller entry (by using the presenting view controller as the presenter of the alert).

[2020-05-16 14:16] #270 closed

[2020-05-16 14:27] huri000 commented on #271
@hiteshsondhi88 same result.
I don't recall a connection between the two - dark mode would only affect the styling regardless of the constraints.

@AndyIbanez
Your original problem may have something to do w/ constraints not being set.
Also `isCurrentlyDisplaying` is synchronous while the display method is async - that would also explain why it prints false immediately after.

![Simulator Screen S

[2020-05-19 19:27] stefangerard opened #288 "Is it possible to use SwiftEntryKit with SwiftUI?"
Unfortunately the readme doesn't tell how SwiftEntryKit can be used with SwiftUI.

[2020-05-20 13:27] galblank opened #289 "Nothing being displayed"
**Describe the bug**
Running a basic test isn't showing anything.
My setup is :
Tabbed view
1 Tab - MapView
2 Tab - TableView
I do not use story boards or xib files , everything is done programatically.
I do use Mortar for autolayout

**To Reproduce**
[code]

**Expected behavior**
It should show up

**iPhone (please complete the following information):**
 - Device: [e.g. iPhone6]
 - iOS Version: [

[2020-05-28 04:56] topcmm opened #290 "nothing happened"
Just a very simple test code:

import UIKit
import SwiftEntryKit

class ViewController: UIViewController {

    override func viewDidLoad() {
        super.viewDidLoad()
        // Do any additional setup after loading the view.

    }

    func popupWindow() {
        let vc = TestViewController()
        SwiftEntryKit.display(entry: vc, using: EKAttributes.bottomToast)
    }
    @IBAction func c

[2020-05-28 08:13] huri000 commented on #290
Setting the attributes like that is probably your problem. There is not enough information in either the view or the attributes to determine the constraints, and therefore nothing is shown. Please install the example project and look at the samples provided there. If anything is unclear please let me know.

[2020-05-28 08:13] #290 closed

[2020-05-28 08:17] huri000 commented on #289
It’s unclear what’s the expected height of the view. You set it to intrinsic which means the view would take responsibility for setting the height but I don’t see any such setup.

[2020-05-30 12:19] huri000 commented on #283
Seems like it can be resolved by simply clearing the cache + reinstalling.

[2020-05-30 12:19] #283 closed

[2020-06-01 20:36] mendesbarreto opened #291 "Is possible add an Input Textfield on EKRatingMessageView?"
I'd like to add an input text on EKRatingMessageView, you guys know if it is possible?

Thx.

[2020-06-09 07:48] SumitSMARTER commented on #19
@huri000  I am new to Swift and was trying to use your Library, what I was trying to achieve is the same thing which @HackShitUp, multiple buttons in the EKPopUpmessage.
I checked the Rating example but, what I perceive that it has **buttonBarContent: <#T##EKProperty.ButtonBarContent#>)**, but the PopUp msg does not have that property, EKPopUpMessage(themeImage: <#T##EKPopUpMessage.ThemeImage?#>,

[2020-06-09 08:10] SumitSMARTER commented on #190
@smileypop Is this Done, i am trying to built the Pop msg with multiple buttons, but not able to do so, since the
EKpopUpMessage property is not Supporting so.
@huri000

[2020-06-27 20:25] cha777 commented on #258
Use dismiss entry method in your popup and have a callback for attributes life cycle in the root view

In your popup view
[code]

In your root view presenting the popup view
[code]

[2020-06-28 00:33] markst commented on #258
Yes, but I’m unable to identify if dismissed by user interaction or programmatically

[2020-06-30 08:38] SumitSMARTER commented on #267
@huri000
@andestaerfan
I need to do the same, were u able to do that?

[2020-07-03 18:22] andrewprocter commented on #267
✋ me too! @SumitSMARTER let me know if you figure it out

[2020-07-04 17:58] SumitSMARTER commented on #267
@andrewprocter, Nope didn't find any solution. Instead of using the library, I used the UIView Animation, and with the help of the storyboard placed the view behind the One I needed.

[2020-07-09 20:51] lingxiao opened #293 "Display two entries with same priority does not show simultaneously as intended"
**Describe the bug**
A clear and concise description of what the bug is.
I have a `.topFloat`  and `bottomNote` entry, both set to `.normal` with:
`    attributes.precedence = .override(priority: .normal, dropEnqueuedEntries: false) `,

when display both with `SwiftEntryKit.display(entry: modal, using: attributes)`, the second entry is flushed from the queue and does not display as intended.

**To

[2020-07-15 14:54] benyboariu commented on #264
This is annoying, I'm facing same issue, rounded corners not working.
P.S: thanks for a great library :)

[2020-07-18 04:53] AmirCa84 opened #294 "is it possible to set accessibilityViewIsModal true"
is it possible to set accessibilityViewIsModal to true on EKWindow? All windows are siblings so this will ignore others window for accessibility purposes.

[2020-07-22 16:06] tospery opened #295 "Hope can adjust labelsOffset of EKAlertMessageView"
Hope can adjust labelsOffset of EKAlertMessageView

[2020-08-03 07:53] springlo commented on #264
you must set view's bgcolor UIColor.clear.

[2020-08-04 20:12] leojkwan commented on #252
ran into the same problem here today. I cannot set the `autocapitalizationType` for UITextField, meaning I can't start with a lowercase keyboard. Anyway to expose textField or its properties? @dhuri-bc

[2020-08-05 01:49] tospery opened #296 "Can't display the custom view"
![image](https://user-images.githubusercontent.com/3716286/89362624-e7f84200-d700-11ea-89f8-d7d041f6b859.png)

[2020-08-05 06:56] huri000 commented on #296
Please look for similar issues before opening a new one. Your problem is that you didn't set the constraints properly.

[2020-08-05 06:56] #296 closed

[2020-08-12 10:13] 99arobe commented on #288
I'd be interested to know this too.

[2020-08-14 12:48] patzootz opened #297 "EKAttributes Screen interaction "absorbTouches" blocks main window after dismiss in iOS 13.6"
**Describe the bug**
I'm using bottomFloat with EKAttributes.screenInteraction = .absorbTouches.
In iOS 13.6, if the user swipe the entry down to dismiss, after the view disappears, the entire main window is blocked to touch.
From my q.a it seems that the EKAttributes rootViewController is still on the screen and receives touches.
In iOS 13.2 everything work as expected.

**Expected behavior**
The

[2020-08-25 05:24] pikacode opened #298 "iOS 13 devices crash somtimes v1.2.3"
**SwiftEntryKit Release**
 1.2.3

**Describe the bug**
crash only on iOS 13 devices when EKWindow init
[code]

**Screenshots**
crash stack:

![企业微信截图_361a8219-e438-49c9-a1de-031d4ee97718](https://user-images.githubusercontent.com/12589575/91119731-8eaf7d00-e6c6-11ea-859c-0198408cc36e.png)

devices info:
![企业微信截图_d80d0e92-e0e6-4564-a324-34f82c15103b](https://user-images.githubusercontent.com/125895

[2020-08-25 07:02] huri000 commented on #298
Would be interesting to know the state of the app at the time of the crash, as well as how common the crash is. It seems like the method connectedScenes is missing.

I'll try to look into this later this today or tomorrow.

[2020-08-31 10:59] #251 closed

[2020-08-31 11:04] #285 closed

[2020-08-31 11:07] huri000 commented on #271
Closing. please review the example project as well as previous comments.
The issue is most likely due to unspecified constraints either in the attributes or the view.

[2020-08-31 11:07] #271 closed

[2020-08-31 11:07] huri000 commented on #273
Please view the example project - it contains a nib example as well as programmatic ones.

[2020-08-31 11:07] #273 closed

[2020-08-31 11:09] huri000 commented on #289
Closing. Please see my earlier comment about height constraint. Some of the example project samples may help you.

[2020-08-31 11:09] #289 closed

[2020-08-31 11:11] huri000 commented on #282
Closing as the issue is not in the scope of the solution offered by the library.

[2020-08-31 11:11] #282 closed

[2020-08-31 11:13] huri000 commented on #294
You are welcome to fork and open a pull request. Unfortunately, I don't have time to experiment with solutions to this ATM, but if you are able to, please feel free to PR for my review.

[2020-08-31 11:25] huri000 commented on #298
Revisiting it again, I'm not too sure that adding `if UIApplication.shared.responds(to: #selector(getter: UIApplication.connectedScenes)) {}` won't be causing other unwanted effects that cannot be monitored - such as not showing anything. Need to investigate further and think about it as I couldn't reproduce the issue so far.

[2020-08-31 11:31] huri000 commented on #185
Apologies, but I don't have the time capacity to implement that feature. Closing but feel free to open a PR for me to review.

[2020-08-31 11:31] #185 closed

[2020-08-31 11:32] huri000 commented on #224
Unfortunately, I don't have time to look into this. Closing, but feel free to open a PR for me to look at if you want.

[2020-08-31 11:32] #224 closed

[2020-08-31 11:35] huri000 commented on #272
Closing for now as I couldn't reproduce. If the issue persists please let me know.

[2020-08-31 11:35] #272 closed

[2020-08-31 11:38] huri000 commented on #293
@lingxiao what you described is the intended behavior. Entries cannot be displayed simultaneously by design (at least not with that library). If you want to show a view2 you'll have to dismiss view1 - that priority ratio required is `>=`, so if both views' priorities are equal the second view will still dismiss the first.

TL;DR: only one entry is permitted as a time.

[2020-08-31 11:38] #293 closed

[2020-08-31 11:41] huri000 commented on #291
It is, but unfortunately, I don't have the time to look into it. Please feel free to open a PR and contribute if you want. Closing for now.

[2020-08-31 11:41] #291 closed

[2020-08-31 11:47] huri000 commented on #260
☝️ Correct. Closing since a solution was provided.

[2020-08-31 11:47] #260 closed

[2020-08-31 11:51] huri000 commented on #234
Unfortunately, I don't have the time to look into it, but feel free to open a PR with your solution for me to review.

[2020-08-31 11:51] #234 closed

[2020-09-01 09:00] huri000 commented on #263
No, that's not possible ATM, and won't be implemented in the future as it exceeds the scope of the library. Apologies for the delay in responding to the issue.

[2020-09-01 09:00] #263 closed

[2020-09-01 09:33] huri000 commented on #159
Closing as this idea hasn't been addressed so far, and I don't see it implemented in the intermediate future.

[2020-09-01 09:33] #159 closed

[2020-09-01 09:58] huri000 commented on #297
@patzootz could you try out release `1.2.4`? Please see related changes under [CHANGELOG](https://github.com/huri000/SwiftEntryKit/blob/master/CHANGELOG.md#124)

[2020-09-01 10:08] huri000 commented on #294
@AmirCa84, It turned out I had time to do this. :-)
All `EKWindow` instances are marked `accessibilityViewIsModal = true`. That seems to work properly with all types of background interactions. Please give `1.2.5` a try.

[2020-09-01 10:08] #294 closed

[2020-09-01 10:10] huri000 commented on #222
Accessibility is supported for buttons as well (release 1.2.5), and some fine tunes were made. Please see the changes under the changelog file.

[2020-09-01 10:10] #222 closed

[2020-09-01 10:13] huri000 commented on #281
Sorry for the delay - a sample project would be much appreciated here, as it takes a long time for me to build one for any open issue. Please upload it here.

[2020-09-01 10:15] huri000 commented on #248
Closing as it seems like a side effect of window manipulation by another library.

[2020-09-01 10:15] #248 closed

[2020-09-01 10:16] huri000 commented on #204
Closing as it won't be implemented in the intermediate future.

[2020-09-01 10:16] #204 closed

[2020-09-01 17:41] AmirCa84 commented on #294
Really appreciated it. :)

[2020-09-02 02:00] tospery opened #306 "How can i show a SwiftEntryKit in current viewController?"
How can i show a SwiftEntryKit in current viewController? Not in app's key window

[2020-09-02 07:25] huri000 commented on #306
There's no way to do that out of the box (and is not going to be supported by the library).

You could either take one of the presets and it's corresponding model, and add it to your parent view, or do the same with your own view.

[2020-09-02 07:26] #306 closed

[2020-09-03 07:10] Jayxiang commented on #159
I want this feature, too

[2020-09-04 12:28] Zanatta99 opened #308 "Dismiss View doesn't set the correct window as key"
**Describe the bug**
When the view presented using SwiftEntryKit (with windowLevel .alerts) is dismissed, the view doesn't set the main app window as key and visible

**To Reproduce**
1 present a view over the main windows setting WindoLever = .alerts
2 dismiss the view
3 the initial main window will not come back the key window

**Expected behavior**
When the present view is dismissed the startin

[2020-09-04 12:31] asar1 commented on #270
with windowlevel.normal alert is behind the presented view.
any solution?

[2020-09-04 13:37] huri000 commented on #308
@Zanatta99 that's a good point you just raised. definitely a logic gap that was ignored for some reason.
Worth mentioning that I couldn't repro with iOS 13.6.

I patched it for urgency reasons, but it def' deserves more love (in future) - Please review the linked PR and let me know your thoughts.

[2020-09-04 14:04] Zanatta99 commented on #308
@huri000 Yeah, also for me it's the better solution.

[2020-09-04 15:29] huri000 commented on #308
@Zanatta99, please try out 1.2.6.

[2020-09-04 15:29] #308 closed

[2020-09-10 03:16] pikacode commented on #298
It seems that the crash happened when the `display` method was called a lot of times in a very short period. When our App disconnects from the network, all of the requests failed and we use EKit to display the errors.

[2020-09-18 17:53] icarus31 opened #311 "Compilation issue with XCode 12"
**Describe the bug**
Getting compilation error with the latest Xcode 12

I got:

- Header 'QuickLayout-Swift.h' not found
- Could not build Objective-C module 'QuickLayout'

**iPhone (please complete the following information):**
 - Xcode Version 12
 - SwiftEntryKit Release # 1.2.6

[2020-09-19 21:18] #311 closed

[2020-09-19 21:18] icarus31 commented on #311
After recompiling it, it worked.

[2020-10-01 22:10] DieGlueckswurst opened #312 "Change image color for image in ImageContent not working"
**Describe the bug**
I would like to change the color of my `image` , but it is always `blue`.

**To Reproduce**
I tried this:

[code]

**Expected behavior**
`imageView` should be displayed in `darkCustom` but instead it is just `blue`.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**iPhone (please complete the following information):**
 - Device: [iPhoneX]
 - iOS

[2020-10-07 08:00] asar1 commented on #261
Any chances of this functionality in near future?

[2020-10-07 11:27] patzootz commented on #297
Hi Daniel, sorry for the late reply.

I've updated to 1.2.6 and it looks fixed.

Thank you so much for this wonderful library.

Kind regards

On Tue, Sep 1, 2020 at 12:58 PM Daniel Huri <notifications@github.com>
wrote:

[2020-10-09 09:40] Vanilil opened #313 "Problem with a scene in foregroundInactive state"
**Describe the bug**
I have a popup that shows up with SwiftEntryKit and doesn't go away without clicking the button it contains. If it launches when I don't have a UIWindowScene in foregroundActive state, the popup does not appear and no more popups appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a SwiftEntryKit view appear when network disconnect
2. Open the control center of

[2020-10-09 10:53] avjiang opened #314 "Crash issue in iPadOS 14.2"
**Describe the bug**
Tried to display and dismiss Entry Kit. Working fine in iOS 14.2 below

**To Reproduce**
1. Show "EKAlertMessage" with option yes or no
2. Show "topToast" Entry Kit
3. Upon EkAlertMessage button callback, dismiss all entry kit
4. Crashed in SwiftEntryKit/EKWindowProvider.swift

**Expected behavior**
Both EntryKits can be dismissed without crashing

**Screenshots**
![image](htt

[2020-10-20 09:45] tasleem96 commented on #275
I'm having the same issue, tested on iPhone 11. Any updates?

[2020-10-27 11:12] keskin commented on #190
any news?  nice to have this.

[2020-11-05 07:15] KidsBen7 commented on #227
same

[2020-11-05 16:02] KidsBen7 opened #316 "Entry Background doest work"
`attributes.entryBackground = .color(color: .standardBackground)`

I set entryBackground but it's doesnt work, it's clear. Can anybody help me?

[2020-11-08 09:54] KidsBen7 opened #317 "Display new Entry causing dismiss the current displaying entry?"
How can i display a new entry when i'm displaying an entry?
The new entry causing dismiss the current displaying entry.

[2020-11-09 16:01] Isuru-Nanayakkara opened #318 "How to show entries one after the other?"
Hi,

First off, thank you for this project. It's really useful.

I use this library to show push notifications received when the app is in the foreground. I show floats for each notification I receive.
Currently if I receive say, two push notifications at the exact same time, the first float is shown but it gets dismissed quickly to make way for the second float.

Is there a way to make these floa

[2020-11-10 07:25] libern opened #319 "Experiencing unexpected status bar theme changing back issue."
iOS: 13.4
SwiftEntryKit: 1.2.6

Experiencing unexpected status bar theme changing back issue.

On older version, i.e 1.2.3, it is ok, if your current status bar content is dark, then the popup shows, it changed to white, after the popup is dismissed, the bar content changed to dark correctly.

But with the latest build of SwiftEntryKit, after the popup dismissed, the status bar content remains whi

[2020-11-10 07:26] libern commented on #318
Same question here.

[2020-11-10 09:18] libern commented on #319
It is confirmed that this issue has been found since in versions: 1.2.4 ~ 1.2.6

[2020-11-10 10:23] KidsBen7 commented on #318
Same problem 👍

[2020-11-10 16:25] lingxiao opened #321 "Type of expression is ambigous without more context"
**Describe the bug**
A clear and concise description of what the bug is.

When declaring form using presets:

`func ToastForm( title: String ){

    let tit = UIFont(name: FontName.regular, size: AppFontSize.body2)!
    let bod = UIFont(name: FontName.regular, size: AppFontSize.footer)!

    let title = EKProperty.LabelContent(
        text: title,
        style: .init(font: tit, color: EKColor(Co

[2020-11-11 23:32] libern commented on #318
Using:

[code]

[2020-11-12 02:43] winterrain5 opened #322 "can not remove EKWindow in iOS 14.2"
**Describe the bug**
when i user `SwiftEntryKit.dismiss()`, the content view is disappeared,but the EKWindow is always exist.

**iPhone (please complete the following information):**
 - Device: iPhoneSE2
 - iOS Version:iOS14.2
 - Xcode Version: 12.0.1
 - Dependency Manager Version CocoaPods 1.10.0.rc.1
 - SwiftEntryKit Release [1.2.3]

**Additional context**
Add any other context about the problem

[2020-11-12 02:50] #322 closed

[2020-11-12 06:55] Isuru-Nanayakkara commented on #318
@libern Thanks! That worked.

[2020-11-12 06:55] #318 closed

[2020-11-17 12:14] sarahjstacey15 opened #323 "Attributed Text"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Would be great to allow for titles and labels to include attributed text instead of just a plain string

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Allow the creation of an attributed la

[2020-11-20 03:03] Jayxiang commented on #322
怎么解决的？

[2020-11-20 03:20] #317 closed

[2020-11-20 06:15] Jayxiang commented on #308
@huri000
Although this is ok, but I cannot get the keyWindow immediately after the present view is dismissed.
[code]
The print results are:
[code]

Inside the EKContentView class, in the method removeFromSuperview() is called `dismissHandler?()` before `didFinishDisplaying`, but at this time the keyWindow has not been set. So I think `dismissHandler` should be called after `didFinishDisplaying`.

[2020-11-26 10:48] Jayxiang opened #324 "iOS 14.2 keyWindow is always EKWindow"
**Describe the bug**
In iOS 14.2 keyWindow is always EKWindow，but I tested it on 14.1, 13.7, and 11.4, no problem.

**To Reproduce**
Steps to reproduce the behavior:
1. In your demo, `PresetsViewController` class，my test code in line 378：

[code]

**Expected behavior**
The keyWindow should be UIWindow

**Screenshots**
iOS 14.2：
<img width="449" alt="keyWindow" src="https://user-images.githubuserco

[2020-11-29 14:12] skrew opened #325 "Entries are not visibles when using with Xcode Preview"
Entries are not visible when using on Xcode Preview, on the simulator or real device. I think Xcode Preview doesn't handle window like in regular apps

[2020-11-30 02:00] IKorabel opened #326 "Constraints are not working"
Hello, I tried to use custom view with bottomToast Attribute. I've set all constraints in interface builder, but however the interface is still displayed incorrectly. How can I fix it? Thank you!

Here is the code and screenshots
<img width="878" alt="Снимок экрана 2020-11-30 в 02 32 43" src="https://user-images.githubusercontent.com/43014903/100561056-08539a00-32b8-11eb-8a58-f46eb9ff771e.png">
![

[2020-12-03 15:02] florin-saftoiu commented on #324
I'm also seeing this, I was able to get around it by setting the main UIWindow as rollbackWindow when displaying :
`SwiftEntryKit.display(entry: myViewController, using: myAttributes, rollbackWindow: .custom(window: UIApplication.shared.keyWindow!))`

[2020-12-09 06:07] RockyAo commented on #314
I have the same issue here

[2020-12-09 20:52] AdlibBeats commented on #275
+1 - pls, give me fix =(

[2020-12-11 12:57] AdlibBeats commented on #275
i did it

`
import SwiftEntryKit
import Then

EKAttributes().with {
   $0.position = .top
   $0.displayMode = .inferred
   $0.hapticFeedbackType = .success
   $0.scroll = .disabled
   $0.entryBackground = .color(color: .init(.init(red: 1.0, green: 0.498, blue: 0.004, alpha: 1)))
   $0.statusBar = .light
   $0.displayDuration = 2
   $0.positionConstraints.safeArea = .overridden
}
`

just add "attri

[2020-12-14 08:09] JonathanChen123 commented on #324
I have the same issue on iOS14.2.

[2020-12-15 16:01] stherold opened #328 "Floating top notifications shold be scrollable"
**Is your feature request related to a problem? Please describe.**
When text on the notification overflows the screen it is imposible to read the truncated part.

**Describe the solution you'd like**
The view should be scrollable.

**Additional context**
![image](https://user-images.githubusercontent.com/64915710/102239483-31e70500-3ef7-11eb-82a4-2412b3ab48d4.png)

[2020-12-18 10:44] RuttabHaroon commented on #324
+1 I am having this issue in iOS14.2 but not in earlier versions

[2020-12-18 13:16] RuttabHaroon commented on #308
Is this issue resolved?? i am still having this issue.

[2020-12-21 02:28] hoangduoc0603 commented on #324
I have the same issue on iOS >= 14.2. Is there any update on this?? Thanks!!

[2020-12-21 02:30] hoangduoc0603 commented on #324
It does not work. What was your problem and what did you do?? Thanks!

[2020-12-21 10:07] florin-saftoiu commented on #324
After dismissing an entry, the entire  UI of the app was frozen. In the UI debugger I could see the keyWindow being of type EKWindow. For me the workaround works, but I should mention I'm on version 0.6.0 of SwiftEntryKit

[2020-12-28 14:21] huri000 commented on #324
Hey @florin-saftoiu. This side effect is not caused by the same reason as the aforementioned issue's.
Generally, I'd consider what you're experiencing as a high priority issue, but since you mentioned using a super old release, I'd first recommend you to first take some time and update to `1.2.6`. Please report back in a separate issue, in more detail, if you're still having the same issue.

[2020-12-28 14:54] huri000 commented on #326
Hey. Please refer to the example project for best practices on how to write entries. There are plenty of similar use cases in there.

[2020-12-28 14:54] #326 closed

[2020-12-28 15:01] huri000 commented on #328
Hey. It depends on the use case. But the banner notification views are built to provide a banner experience so the content should be short and punchy.

**Suggestions:**
1. You could use `EKAttributes.PositionConstraints.Size` to limit the height and upon interaction redirect to a screen showing the full contents
2. Build your own entry layout. This shouldn't be hard - see samples that use scroll v

[2020-12-28 15:01] #328 closed

[2020-12-28 15:11] huri000 commented on #321
Hey @lingxiao. I had no problem with this code:

[code]
Your `EKProperty.ButtonContent` initializer's parameters are incorrect.
Make sure you're working with the latest release.
Please clean the build folder and `pod repo update` as well.

[2020-12-28 15:11] #321 closed

[2020-12-28 15:17] huri000 commented on #324
@Jayxiang thanks for reporting this. This issue is now fixed. Please use `1.2.7`.

Please see associated PR.
Changelog Reference: https://github.com/huri000/SwiftEntryKit/blob/master/CHANGELOG.md

[2020-12-28 15:17] #324 closed

[2020-12-28 15:21] huri000 commented on #298
Closing. I'm suggesting to throttle invocations in such cases.

[2020-12-28 15:21] #298 closed

[2020-12-28 15:22] huri000 commented on #277
Issue fixed in `1.2.7`.

[2020-12-28 15:22] #277 closed

[2020-12-28 15:22] huri000 commented on #316
Hey. Please see the sample project for reference.

[2020-12-28 15:22] #316 closed

[2020-12-28 15:24] huri000 commented on #281
Closing as the issue seems to be dormant. Please see my previous comment and feel free to comment with more intel

[2020-12-28 15:24] #281 closed

[2020-12-28 15:26] huri000 commented on #268
No. You have to customize the popup entry to achieve that ATM.

[2020-12-28 15:26] #268 closed

[2020-12-28 15:37] huri000 commented on #258
Hey! I don't think I'm gonna have the time for implementing it, but please feel free to do so and PR it.

[2020-12-28 15:37] #258 closed

[2020-12-28 15:37] huri000 commented on #250
Not currently. Feel free to implement and PR. :-)

[2020-12-28 15:37] #250 closed

[2020-12-28 15:43] huri000 commented on #312
Hey. `EKProperty.ImageContent` has [a tint parameter](https://github.com/huri000/SwiftEntryKit/blob/cafba39900c9bf52221a889a7e5f05ce06b52aff/Source/Model/EKProperty.swift#L167) in its initializer API.

[2020-12-28 15:43] #312 closed

[2020-12-30 12:16] stherold commented on #328
Ah nice, thx for the help and input 👍

[2020-12-30 16:11] huri000 commented on #322
The latest release (1.2.7) patched this bug.

[2021-01-05 18:51] jizambrana commented on #319
Same in 1.2.7

[2021-01-08 08:30] Jayxiang commented on #189
+1

[2021-01-12 08:14] simonzwicker opened #332 "Absorb dismiss when clicked in CustomView"
Hi,

I have a Custom View which I display with SwiftEntryKit

The View has a Title, 2 Checkbox and 1 Button.

Checkboxes are Clickable and button too so there is no problem. But if I click on the View or the title the Alert is dismiss. Can I absorb this?

Code here:

var attributes = EKAttributes()
attributes.displayDuration = .infinity
attributes.displayMode = .inferred
attributes.position = .cen

[2021-01-25 17:54] bluepixeltech opened #333 "Center text and placeholder in TextFieldContent"
Hi,

Is there a way to center align the text and placeholder in EKProperty.TextFieldContent?

Best,

Pouya

[2021-01-27 05:36] FunnyerFeng opened #334 "Eliminate the warning"
Setter for 'isStatusBarHidden' was deprecated in iOS 9.0: Use -[UIViewController prefersStatusBarHidden]

[2021-01-28 12:48] simonzwicker commented on #332
maybe someone has a idea to this issue?

[2021-01-30 08:26] onl1ner commented on #332
Hello, simonzwicker!

You have to specify the `attributes.entryInteraction` property, which is responsible for interaction on entry itself. So in your case set it to `.absorbTouches` to get the behavior you want.

[2021-02-20 10:08] MichaelHuyp commented on #278
same issue....

[2021-02-26 21:34] aheze commented on #278
@MichaelHuyp I ended up just presenting this normally, with `present(_:animated:completion:)`.

[2021-03-01 03:34] MichaelHuyp commented on #278
@aheze
[code]

RollbackWindow Appointed as keywindow Fixed this problem

[2021-03-08 10:48] LuckyRoc opened #336 "How to set bottom spacerView color?"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/10631829/110311214-6d98f300-803e-11eb-8779-ef6d32f721ba.png)

I want set spacerView color same to entryBackground， But can not found any func?

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/10631829/110311446-c23c6e00-803e-11eb-9a17-4ea4495

[2021-03-08 17:22] SubParDev opened #337 "Views anchored from the top of the screen cover the status bar on iOS 12"
When using the library on an iOS 12 simulator/device, views that appear at the top of the screen cover the status bar so it isn't visible to the user (we are using .topToast in our use case). Changing the attributes.status bar settings has no effect on this behaviour.

Works perfectly on iOS 13+.

Steps to reproduce the behavior:
1. Have a view controller where the status bar is visible to the use

[2021-03-09 06:56] #336 closed, assigned to nobody

[2021-03-09 06:56] LuckyRoc commented on #336
Have found a solution

[2021-03-10 05:27] M-I-N opened #338 "Previously shown normal priority entry isn't displayed after dismissal of newly shown high priority entry"
**Describe the bug**
A new entry with `.high` priority is displayed while a previous `.normal` was being displayed. After the dismissal of the new entry with `.high` priority the previous entry with `.normal` priority is not being displayed again.

**To Reproduce**
Add two button in the UI and attach the two following action methods:
[code]

**Expected behavior**
Previously displayed entry with `.

[2021-03-13 13:32] tanis2000 opened #339 "Request: horizontal offset"
Would it be possible to add support for horizontal offset in the position constraints just like we have for the vertical offset? It would really help when showing a popup that has to be in an exact position, i.e. its position should be relative to a collection view cell. Is this already achievable in some other way? Precise positioning would be really cool.

[2021-03-15 09:31] Ssiswent opened #340 "How to display two view the same time by using SwiftEntry ?"
As the priority exists, if I display a new view above the view which has been displayed, the old one would be dismissed.

[2021-03-17 14:22] JuanpaG94 commented on #319
I can confirm this is still happening on 1.2.7

[2021-03-24 19:18] multinerd commented on #256
Try this

[code]

[2021-04-14 00:29] bluepixeltech opened #342 "Doesn't show new entries after app returns from background"
Hi,

If the app is in the background and at the same time a new entry is triggered to show, non of the new entries will be shown after the app returns from background.

[2021-05-05 08:29] mohameditani opened #343 "iPad: Top toast messages are not properly displayed in iOS 14"
Top toast messages are not properly displayed on iOS 14 devices. Toast appears below the status bar with increased height.

Expected Behavior: to be same as previous os versions.

![ios 14](https://user-images.githubusercontent.com/9387562/117114009-f492ef00-ad93-11eb-8ff5-4b8be1a560a0.png)
![ios 13](https://user-images.githubusercontent.com/9387562/117114993-2e182a00-ad95-11eb-8584-f1bbcab6b08d.j

[2021-05-06 06:21] #343 closed, assigned to nobody

[2021-05-28 13:52] zanderisrael commented on #342
Same here.

[2021-05-29 09:19] Ru5C55an commented on #342
Same

[2021-06-15 05:10] hbrett opened #344 "Add delegate callbacks to changes in the window stack"
Hi! Although I've generally found SwiftEntryKit to be very flexible to my needs, I've found that there's not really any good way to listen to changes in the window stack. For instance, I need to know when a user dismisses a window by tapping outside of my presented view controller. To my knowledge, there is no way in the public API to listen to these types of state changes. I would love to have a

[2021-06-15 05:23] #344 closed, assigned to nobody

[2021-06-16 15:04] huktoDev commented on #340
Yes, I too require ability to show few entries simultaneously. By example, popups and notifications. EKWindowProvider doesn't allow this, it contains only one entryWindow. EKWindowProvider should manage multiple windows, or we should have capability to use EKWindowProvider's directly

[2021-07-07 07:31] tospery opened #345 "can support the activating toast?"
can support the activating toast?

[2021-07-07 07:35] tospery commented on #345
like Toast-Swift's view.makeToastActivity(.center)

[2021-07-09 07:29] RuttabHaroon opened #346 "After calling the dismiss code the application key window is still EKRootViewController."
os: ios 14
device: iphone 6Plus

I am shown a view controller as a popup using the code below

[code]

The popup shows a button. When that button is clicked, the popup will disappear and the app will navigate to a new screen. However, this is not happening as when the popup disappears by calling the code `SwiftEntryKit.dismiss()`, the application key window root view controller is coming as <Swift

[2021-07-09 09:55] LuckyRoc opened #347 "Any way set the ButtonContent button non-clickable color"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-07-12 04:59] RaghavaNaidu46 commented on #93
Hello Huri, You have done a great job it seems but unfortunately I couldn’t use your efforts.
I have gone through some of the related issues but no solution works for me. After trying the above steps I'm getting this again. Make it consistent, please.
[code]

[2021-07-12 06:26] LuckyRoc commented on #206
Same behaviour here. Are there any updates on this?

[2021-07-12 06:28] LuckyRoc commented on #206
SwiftEntryKit.display(entry: self, using: alertAttributes,presentInsideKeyWindow: true) will work

[2021-07-12 06:33] Roen-Ro opened #348 "roundCorners of EKAttributes doesn't work for customView/viewController"
As title, the following code shows how i set the `roundCorners` for a customView display
[code]

**Expected behavior**
<img width="347" alt="F6710E76-00B3-4035-A484-C1C383C80339" src="https://user-images.githubusercontent.com/5848106/125241514-1e313f00-e31e-11eb-9e7a-d14cac1d198f.png">

[2021-07-12 06:55] RuttabHaroon commented on #348
Probably not the solution you're looking for. But you could just add the code below in your custom view `awakeFromNib` func

[code]

[2021-07-13 22:38] omarojo commented on #93
I'm getting the same error as well.
@huri000

Xcode Version 12.5 (12E262)

[2021-07-16 02:39] omarojo opened #349 "Unable to compile Demo - Nimble linker command exit code"
Anyone able to compile this project demo on Xcode 12 ?
I followed the steps to retrieve the submodules, and compiled the frameworks targets successfully before trying to run the demo.

![image](https://user-images.githubusercontent.com/995265/125883078-4e497f9b-0c84-4e3e-bab5-0a3e1a2eac19.png)
![image](https://user-images.githubusercontent.com/995265/125883103-d1ccb15f-f4e7-450b-aaaa-49dd1d73eade.

[2021-07-16 03:43] omarojo commented on #349
so I disabled TESTs and I was able to run in Device.

![image](https://user-images.githubusercontent.com/995265/125888546-7acc75e5-6aaa-43cb-879c-834f8fcafccb.png)

[2021-07-16 13:50] #346 closed, assigned to nobody

[2021-07-16 22:53] ledkof18 commented on #314
Same issue in iPhone XS 14.6, where rootVC is nil, but entryWindow is not
<img width="1009" alt="Captura de Pantalla 2021-07-16 a la(s) 17 56 36" src="https://user-images.githubusercontent.com/11428785/126015891-79e2a2e1-a051-4df3-896d-ecaef47ef2ef.png">

[2021-07-21 01:53] JivanHuang opened #350 "collectionView didDeselectItemAt method not call"
[code]

I have initialized a custom view When I first click on the cell, the function `didDeselectItemAt `  does not respond, and any subsequent clicks will respond to the previous event. This is a very strange bug,I guess it's a gesture problem.

[2021-08-03 01:14] #350 closed, assigned to nobody

[2021-08-09 09:08] feixue299 commented on #264
This is how I set it up
[code]
The pop-up view needs to be  clear color

[2021-08-09 09:09] feixue299 commented on #348
You should set the entryBackground instead of the customView's backgroundColor

[2021-08-13 15:56] kyrylhorbushko commented on #50
thanks for this! especially if u working with `SwiftUI` and dealing with something like this -`isPresented: Binding<Bool>`

[2021-08-24 03:13] Cxbin commented on #93
You need to delete SwiftEntryKitTests in  TARGETS

[2021-08-24 12:04] bangjier opened #351 "Entries are obscured by the keyboard"
The entry is covered by the keyboard, and WindowLevel is invalid by setting it. How can I make the entry in front of the keyboard
![Simulator Screen Shot - iPhone 11 - 2021-08-24 at 19 58 47](https://user-images.githubusercontent.com/13373708/130613139-a2b77ecf-8fe8-4c27-bfda-9d9fc63bbcd7.png)
![Simulator Screen Shot - iPhone 11 - 2021-08-24 at 20 00 00](https://user-images.githubusercontent.com/1

[2021-08-26 06:58] tospery opened #352 "Change the EKAttributes.Precedence.enqueue(priority: Priority) 's behavior."
1. In case no previous entry is currently presented, display the new entry.
2. In case there is an entry that is currently presented - Compare their priorities:
(1) When new entry's priority is greater than old, present it and enqueue the old entry, the old entry will present just after the new entry is dismissed.
(2) Otherwise, enqueue the new entry, an present it just after the previous one is d

[2021-09-01 11:06] CoderMaurice opened #353 "popview show wrong orientation when app force landscape"
One problem with forcing landscape is that the status bar disappears, I think it is the reason of orientation problem

The weird thing is, if I connect the USB cable, everything works fine, when I disconnect USB calble and restart App, the problem shows

Can you add  Specified direction in supportedInterfaceOrientations

[code]

[code]

[2021-09-01 11:24] purepure commented on #340
I love this feature too.

[2021-09-16 04:33] saqibdb opened #355 "SwiftEntrykit not working if UNUserNotificationCenter access is denied"
**Describe the bug**
A weird is bug is coming up on specific iphone models (only). If the UNUserNotificationCenter settings permission is denied by the user, then swiftentrykit just stops working. This is not happening on all iphones and ios versions.
My understanding was swiftentrykit should not be dependant on the UNUserNotificationCenter as these both things are different.
Currently it is happe

[2021-09-22 05:38] Desmuz opened #356 "Error when try to archive in Xcode 13"
Hi, new problem when I try to archive in Xcode 13:
Used in SPM:
`{
        "package": "SwiftEntryKit",
        "repositoryURL": "https://github.com/huri000/SwiftEntryKit",
        "state": {
          "branch": null,
          "revision": "c2d42574e4fe4e1f9719843f35add7922942a16b",
          "version": "1.2.7"
        }
      }`

Message:
remark: Incremental compilation has been disabled: it is no

[2021-09-23 15:54] SubParDev opened #357 "isCurrentlyDisplaying(entryName: String) not returning expected result"
**Describe the bug**
I'm currently display an Entry with name "support_reply", I'm checking to see if an entry is currently being displayed of that name, the result is returning false when it shouldn't.

**To Reproduce**
Steps to reproduce the behavior:
1. Display an Entry with a name.
2. Call SwiftEntryKit.isCurrentlyDisplayed(named: *name*)
3. Observe result.

**Expected behavior**
Expected isCu

[2021-09-23 16:31] #357 closed, assigned to nobody

[2021-09-27 14:13] huzaifa29 commented on #355
Hi Saqib. This issue is reproducing also when we denied the Photos Permission iOS Default Dialog Alert. I found a work around, if we add a little delay of 0.5 seconds its working, but definitely its not a good solution. I hope SwiftEntrykit resolve this issue in the next update:

DispatchQueue.main.asyncAfter(deadline: .now() + 0.5) {
                //Call your alert here
}

[2021-09-28 17:36] libern opened #358 "EKWindow will show in UIInputWindowController when keyboard is shown"
When EKWindow find the UIInputWindowController UITextEffectsWindow to show, the backdrop will be dark.

![image](https://user-images.githubusercontent.com/1830640/135137185-d2ded592-c0f8-461f-816c-6848f3ef22db.png)

[2021-09-28 17:37] libern commented on #358
![image](https://user-images.githubusercontent.com/1830640/135137548-55fd7ef9-8b53-41f1-b464-97d54eaa9eb7.png)

[2021-10-17 08:58] byaruhaf opened #359 "Xcode 13 error: 'shared' is unavailable in application extensions for iOS"
When compiling our application, I see an error like:

[code]

<img width="1206" alt="Screenshot 2021-10-17 at 11 44 13" src="https://user-images.githubusercontent.com/4116539/137619368-486d8fda-2f7a-4a7a-afad-3ecf14647cbb.png">

Note that this was not happening in our app with Xcode 12, it started happening when I updated to Xcode 13.0.
Apple requires the library itself to be annotated like so:

[

[2021-10-18 05:58] huri000 commented on #349
This was organically addressed in 2.0.0 by removing Nimble and Quick

[2021-10-18 05:58] #349 closed, assigned to nobody

[2021-10-18 06:04] huri000 commented on #359
Hey! Thanks for reporting this issue. Unfortunately I’m a little short in bandwidth,  so it would be great if you could provide a sample app that I can use to reproduce this issue.

[2021-10-18 06:07] byaruhaf commented on #359
Hey, you can reproduce this issue with Paul Hudson's [Unwrap]( https://github.com/twostraws/Unwrap)
 https://github.com/twostraws/Unwrap

[2021-10-18 06:16] byaruhaf commented on #359
Hi, the issue is fixed with SwiftEntryKit Release 2.0.0, Thanks A lot 👍🏽.  Closing this issue now.

[2021-10-18 06:16] #359 closed, assigned to nobody

[2021-11-04 03:15] brave723 opened #362 "crash"
**Describe the bug**
our application has presented a UIAlertController (<UIAlertController: 0x10c84c400>) of style UIAlertControllerStyleActionSheet from SwiftEntryKit.EKRootViewController (<SwiftEntryKit.EKRootViewController: 0x108064800>). The modalPresentationStyle of a UIAlertController with this style is UIModalPresentationPopover. You must provide location information for this popover throug

[2021-11-09 12:48] phynet commented on #45
Hi, I'm resurrecting this thread. Sorry if isn't expected. What are the dependencies needed to support SPM?  is in scope? do you need help for this? thank you 😄

[2021-11-17 22:34] multinerd commented on #362
https://stackoverflow.com/questions/24224916/presenting-a-uialertcontroller-properly-on-an-ipad-using-ios-8

[2021-11-17 22:37] multinerd commented on #356
` Command CompileSwiftSources failed with a nonzero exit code`

I've come across this issue many times with the new xcode build system. Does a clean and rebuild work for you?

[2021-11-29 23:48] #362 closed, assigned to nobody

[2021-12-01 10:29] NDN84 opened #363 "Button width"
How can i change button width in popup dialog, thx?

[2021-12-28 14:48] jizambrana commented on #319
This is still happening on 2.0.0

[2022-01-06 01:12] PandaraWen commented on #319
Oh my god, this issue is still not fixed yet, same in 2.0.0

[2022-02-11 13:19] prorigorous opened #364 "iOS13 iOS14 devices crash somtimes v1.2.7"
SwiftEntryKit Release
1.2.7

**Describe the bug**
crash only on iOS 13 iOS14 devices when EKWindow init
`#308512 NSInvalidArgumentException
-[UIApplication connectedScenes]: unrecognized selector sent to instance 0x103e243d0

init (EKWindow.swift:)`

**To Reproduce**
Can't Reproduce, Crash report only new user can produce.
Steps to reproduce the behavior:
EKWindow is used in MainViewController did

[2022-03-08 13:44] oferRounds opened #365 "Question: is there an option to make the image as trailing instead leading?"
Hi! Thanks for this awesome library!

Quick question please: I’m using `EKSimpleMessage` to present a top-floater. It contains text and image. My question: is there an option to make the image on the right side (i.e., trailing)?

Thank you!
Ofer

[2022-03-08 14:02] huri000 commented on #365
Hey Ofer. Thanks for proposing this.
Not at the moment IIRC (as it's been a while since I built the views), but I can look into adding that for you. Tentatively, within the next week.
Alternatively, feel free to put up a pull request with the content you wish to include, and I'd be happy to review.
Alternative II - you could create a custom view based on one of the templated the library offers to

[2022-03-08 14:20] oferRounds commented on #365
@huri000 thank you so much for your quick answer! And got you :)

If you could look into adding it, that we great! Would be very happy!

[2022-03-12 08:28] mjunkmyjunk commented on #328
@stherold which example in the samples project was there this ability for scroll view? I can't seem to find it.

@huri000 its  supposed to be using this right?
```attributes.scroll = .edgeCrossingDisabled(swipeable: true)```

[2022-03-13 19:20] stherold commented on #328
Hey there, I think we solved this somehow different, but thanks for help 👍

[2022-04-03 09:25] zanderisrael commented on #314
same here

[2022-04-24 21:25] wonder2011 commented on #340
Nothing about this ?

[2022-04-24 21:26] wonder2011 commented on #323
Nothing about this ?

[2022-04-24 21:34] wonder2011 opened #368 "Is this library still maintained?"
Hello @aaronbrethorst @markst @RoCry @Blackjacx @ss18 . I am starting to use this library in a huge project. It seems to me an excellent library but I see that apparently it is not currently being maintained. Do you plan to continue maintaining this library?

[2022-05-23 11:21] p-x9 opened #369 "StatusBar Style is overwritten by SwiftEntryKit after the alert is dismissed."
**Describe the bug**
When UIApplication.shared.statusBar.style is `default` and SwiftEntryKit is displayed and closed, the style is rewritten to either `.lightContent` or `.darkContent`.

related to this codes
https://github.com/huri000/SwiftEntryKit/blob/cf1cde7a70d64af8c0c13b11e8dfd5bf2f190e38/Source/Model/EntryAttributes/EKAttributes%2BStatusBar.swift#L58-L68

So I thought It needed to add a ne

[2022-05-25 20:28] aletz commented on #369
I have the same issue !

[2022-06-08 11:07] kiishanbarmawala opened #371 "Swipe down call back for bottomFloat sheet"
Hey, so my question is, I have Implemented the bottom sheet which is not dismissed automatically.

So what I want is, that if I swipe down the bottom sheet, it will be dismissed but I want to perform some actions when the bottom sheet is dismissed.

So can you please let me know how I can get a callback for dismissing the bottom sheet?

Thanks in advance.

[2022-06-27 13:36] djordje-jovic commented on #342
Same is happening in my project when the system's popup for scanning NFC tags is presented.

[2022-07-06 16:24] WoodyHang commented on #267
Hello, I just encountered this problem. At present, I want to let Swiftentry display on a certain ViewController. Is there a way? thanks
@huri000 @andestaerfan @SumitSMARTER

[2022-07-07 12:22] swarajsinghdev commented on #190
i still can't find any solution please help

[2022-07-07 12:23] swarajsinghdev commented on #19
still not any solution

[2022-07-08 15:07] NikhilGangurde opened #372 "On dismissal of view need a method [Not completion handler]"
**Is your feature request related to a problem? Please describe.**
Now I am using a swiftEntryKit to display the view controller and I have written a code on dismiss completion but on background tap and swipe down what should I do.
completion handler wouldn't work in my case because it won't be called on background tap dismiss and swipe down dismiss.

**Describe the solution you'd like**
So I want

[2022-07-27 07:52] chaserr opened #373 "EKWindowProvider.displayRollbackWindow() + 157 Crash"
**SwiftEntryKit Release**
1.2.6

**Describe the bug**
crash only on iOS 15.5.0 iPhone 12 Pro Max

**Crash report**
0
libsystem_kernel.dylib
__pthread_kill + 8
1
libsystem_pthread.dylib
pthread_kill + 268
2
libsystem_c.dylib
abort + 168
3
libsystem_malloc.dylib
_malloc_put + 550
4
libsystem_malloc.dylib
malloc_zone_error + 100
5
libsystem_malloc.dylib
free_list_checksum_botch + 40
6
libsystem_mallo

[2022-08-23 12:57] NikhilGangurde commented on #372
?

[2022-08-23 13:06] NikhilGangurde commented on #368
same here I have used this library for a bigger project and I got stuck in one issue now I have to find a workaround for that no one is replying to my question.

[2022-08-24 09:51] wonder2011 commented on #368
I think this library is dead.

[2022-08-24 09:57] huri000 commented on #368
There doesn’t seem to be critical issue to address and the library is working as expected. Closing this

[2022-08-24 09:57] #368 closed, assigned to nobody

[2022-09-16 07:49] chl-ioki opened #374 "Xcode 14 warning: IPHONEOS_DEPLOYMENT_TARGET"
With Xcode 14 we are getting the following warning:

`The iOS Simulator deployment target 'IPHONEOS_DEPLOYMENT_TARGET' is set to 10.0, but the range of supported deployment target versions is 11.0 to 16.0.99.`

Would it be possible to update the deployment target?
Thanks in advance!

 - Xcode 14
 - SwiftEntryKit 1.2.7

[2022-09-22 14:30] MarkSpit commented on #353
I created a PR for this: https://github.com/huri000/SwiftEntryKit/pull/375

[2022-10-13 11:15] sarahjstacey15 opened #376 "Orientation issues - Autorotation not disabled in iOS 16"
**Describe the bug**
When you display an alert, even when disabling autorotation alert is still allowed to rotate. Would be great if it just used the main view controller's supported orientations.

**To Reproduce**
Steps to reproduce the behavior:
1. Set attributes to disable rotation2.
attributes.positionConstraints.rotation.isEnabled = false
2. display alert
3. Rotate device
4. Alert rotates whe

[2022-10-27 02:45] nExmond opened #377 "EKWindow does not appear on the screen in version iOS 13 or later"
**Describe the bug**
Often the EKWindow does not appear on the screen.

**To Reproduce**
*It is difficult to describe the steps because they are reproducible stochastically.

**iPhone (please complete the following information):**
 - Device: iPhone X
 - iOS Version: iOS 15.6.1
 - Xcode Version 13.4.1
 - Dependency Manager Version: CocoaPods 1.11.3
 - SwiftEntryKit Release: 1.2.7

**Additional cont

[2022-11-03 15:14] baveku commented on #338
Any trick to solve this isssue?

[2022-11-04 00:26] M-I-N commented on #338
@baveku nope, I didn't find any.